[2014-05-08 06:20] faddah opened #1 "key binding conflict between php-beautifier, your deprecation-cop & 3 other packages, causes Dev Tools console to come up when invoking Settings"
hello,

i have found a key binding conflict between your php-beautifier package, your deprecation-cop package, and three other atom editor (ver. 0.94.0) packages, all sharing the same ctrl-alt-o (ctrl-option-o on Mac OS X) key binding.

your deprecation-cop package doesn't conflict with anything else when run without php-beautifier enabled. however, when php-beautifier is then enabled, it causes,

[2014-06-20 22:23] #1 closed, assigned to nobody

[2014-08-18 14:08] sirianni opened #3 "Error from DeprecationCopStatusBarView on startup with 0.123.0"
Upon startup, I get this error in the chrome debug console.  This started appearing after an update to Atom 0.123.0.  I'm running on Ubuntu 14.04.
[code]

[2014-08-25 05:36] ehuss opened #5 "Create Issue link may not work on Windows"
The link to create an issue may not work on Windows due to URL path length restrictions.  It looks like URLs over about 2048 bytes (actually 2046 in my tests) simply don't work (nothing happens, browser does not open).

I do not think it matters what your system browser is (mine is Chrome).  IE has a documented URL limit of 2083 characters, and 2048 characters for the path.

A typical URL for depr

[2014-09-03 22:30] nathansobo opened #6 "Different deprecation messages from within the same method aren't honored in display"
I'm issuing different deprecation warnings in a method depending on the value of parameters, but the calls are all getting rolled into the same message.

[code]

![screenshot 2014-09-03 16 29 04](https://cloud.githubusercontent.com/assets/1789/4142478/c40e0226-33b9-11e4-8743-e89c7270b5f7.png)

[2014-09-08 08:15] postcasio opened #7 "Package filter"
Would be really useful to have a filter so you can see only the warnings from a specific package, so you don't have to hunt through all the messages from other packages to find the ones you're interested in.

[2014-10-20 09:50] abe33 opened #8 "Deprecation Cop View breaks in latest atom release"
When trying to open the deprecation cop view in version `0.139.0-d1f9133` I get this error:

[code]

By adding a try..catch in the problematic function I could confirm that this isn't due to a package in particular, it seems that every calls fails at that point.
As far as I can tell, adding a try in the `getPackageName` loop is enough to get rid of the error without affecting the behavior of the v

[2014-10-20 15:55] #8 closed, assigned to nobody

[2014-12-17 10:15] mickburkesnr opened #13 "Atom won't open files, throws "Uncaught TypeError: undefined is not a function" in inline-view.coffee"
I'm running Atom on openSuSE 13.2 and it was working perfectly up until this morning. I open any files (PHP, YAML etc) and the title of the window changes but the contents of the file isn't dislpayed.

Then the following error is given:

[code]

And

[code]

[2014-12-17 14:57] #13 closed, assigned to nobody

[2015-01-07 21:32] nathansobo opened #14 "Status bar indicator doesn't account for deprecated selectors"
Status: Pull request tied to enabling status bar.

[2015-01-07 22:43] nathansobo commented on #6
This seems to be resolved now.

[2015-01-07 22:43] #6 closed

[2015-01-07 23:07] nathansobo opened #16 "Deprecation for scoped-properties directory in package gets bucketed in core"
Not sure what we can do about this since the package isn't part of the stack trace no matter how deep it gets. Maybe we can pass some optional metadata to grim as a second argument that deprecation-cop can read.

[2015-01-09 01:46] #16 closed

[2015-01-09 02:26] nathansobo opened #17 "Not warning about `.editor` selectors in keymaps"

[2015-01-15 19:43] #14 closed

[2015-01-16 01:45] marshall007 commented on #17
It looks like deprecated selectors in `~/.atom/styles.less` are also not reported.

[2015-01-16 01:59] maxbrunsfeld commented on #17
@marshall007 can you open a separate issue for this? Currently, we make no effort to lint the user's own configuration: only packages. But it probably makes sense to warn individual users that their config will eventually stop working.

[2015-01-16 01:59] #17 closed

[2015-01-16 02:00] maxbrunsfeld commented on #7
Now that the deprecations are organized by package, is this still needed?

[2015-01-16 06:35] marshall007 opened #18 "Lint user configuration files"
Linting rules should also be applied to user-defined configuration in `~/.atom`.

[2015-01-16 09:10] postcasio commented on #7
I think the current method solves it pretty well, yeah. I'll close this.

[2015-01-16 09:10] #7 closed

[2015-01-18 23:14] travs opened #20 "Cop not catching a deprecated call"
Someone reported [an issue](https://github.com/travs/markdown-pdf/issues/29) with my package that was caught using the deprecation cop. I was using the workspaceView class which has since been deprecated; the trouble is that when I run the deprecation cop I don't see this error in my package.

I have checked, and I do indeed use the deprecated call, so why is the cop not catching this?

Note: Anot

[2015-01-19 19:48] matiasgarciaisaia opened #21 "Search similar issues before creating it"
I'm not _that_ sure about how to implement this, but plugins repos are getting flooded with duplicate issues reported by deprecation-cop (see, for example, thomaslindstrom/color-picker#49, thomaslindstrom/color-picker#48, thomaslindstrom/color-picker#50 and thomaslindstrom/color-picker#52).

May be querying GitHub's api to check if there already is an issue with the same subject would work - as th

[2015-01-19 20:12] 50Wliu commented on #21
This might be best handled in the [notifications](https://github.com/atom/notifications) repo since that's the package that asks users to submit a bug report.  Could you reopen this issue over there?

[2015-01-19 20:18] matiasgarciaisaia commented on #21
Thanks, @50Wliu - it seems there's already an issue for this there.

[2015-01-19 20:21] benogle commented on #21
This is slightly different. Deprecation cop has a link in the interface that is always `create issue on *`. No searching happens.

[2015-01-19 20:30] 50Wliu commented on #21
Oh, sorry.  That's what I get for being on 0.172.0 and being too lazy to upgrade ;P.

[2015-01-19 20:31] benogle commented on #21
no prob

[2015-01-21 09:54] AtzeDeVries opened #22 "Uncaught TypeError: undefined is not a function"
[Enter steps to reproduce below:]

1. ...
2. ...

**Atom Version**: 0.174.0
**System**: linux 3.18.2-2-ARCH
**Thrown From**: [deprecation-cop](https://github.com/atom/deprecation-cop) package, v0.32.0

### Stack Trace

Uncaught TypeError: undefined is not a function

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

/cc @atom/core

[2015-01-21 17:32] maxbrunsfeld commented on #22
This is weird; there's a stylesheet with the wrong type. Could you report the output of the following commands in the console after this error happens?

[code]

[2015-01-22 21:40] benogle opened #23 "Add the ability to file an issue for deprecated selectors"
_From @alex on January 22, 2015 20:14_

Deprecated Javascript APIs have an awesome ability to just file a bug for them automatically, it'd be great if that were also possible for deprecated selectors.

_Copied from original issue: atom/atom#5221_

[2015-01-22 21:41] benogle commented on #23
@alex thanks for the report!

[2015-01-22 21:41] alex commented on #23
@benogle Happily! (Can I say that a one-click to file an issue on using deprecated stuff is amazing)

[2015-01-22 21:42] benogle commented on #23
:+1:

[2015-01-23 08:35] AtzeDeVries commented on #22
Hi

I found that the theme Polychrome is causing this issue. Using an other theme than is 'solves'  the problem.
Do you still want the output?

[2015-01-23 16:20] maxbrunsfeld commented on #22
Yeah, it'd still be useful if you have a moment to run it.

[2015-01-25 04:56] sos12 opened #24 "Deprecation Cop's Listed Calls/Selectors Overlapping Text"
![depcopoverlap](https://cloud.githubusercontent.com/assets/6315034/5890301/4284aa10-a412-11e4-91cf-1a8485bc6a4c.gif)

As you can see, the Deprecation Cop is working for me, but its results are "blending". For clarity, I'm not wondering what I have to do to make the errors go away. I can fix the calls, and an update to the Linter removed the issue there. I'm pointing out the formatting of the erro

[2015-01-28 21:06] kalevitan commented on #22
I'm not using the Polychrome theme (Unity/Monokai) and I have the same error.

packages = atom.packages.getLoadedPackages();
packageStylesheets = packages.map(function(pkg) { return pkg.stylesheets; });
stylesheetPairs = [].concat.apply([], packageStylesheets);
stylesheetPairs.filter(function(pair) { return typeof pair[1] !== "string"; });
[Array[2]0: "/Users/my_user/.atom/packages/script/styleshe

[2015-01-29 10:24] heyalbert opened #25 "Uncaught Error: ENOENT, no such file or directory '/Users/als/.atom/packages/angularjs'"
[Enter steps to reproduce below:]

1. ...
2. ...

**Atom Version**: 0.175.0
**System**: Mac OS X 10.9.5
**Thrown From**: [deprecation-cop](https://github.com/atom/deprecation-cop) package, v0.32.0

### Stack Trace

Uncaught Error: ENOENT, no such file or directory '/Users/als/.atom/packages/angularjs'

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

/cc @atom/core

[2015-01-29 22:32] Nebostic opened #26 "Uncaught Error: ENOENT, no such file or directory '/Users/nebostic/.atom/packages/atom-jshint'"
[Enter steps to reproduce below:]

1. ...
2. ...

**Atom Version**: 0.175.0
**System**: Mac OS X 10.10.1
**Thrown From**: [deprecation-cop](https://github.com/atom/deprecation-cop) package, v0.32.0

### Stack Trace

Uncaught Error: ENOENT, no such file or directory '/Users/nebostic/.atom/packages/atom-jshint'

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

/cc @a

[2015-01-30 00:44] #26 closed

[2015-01-30 00:46] kevinsawicki commented on #25
Fixed by https://github.com/atom/deprecation-cop/commit/c8620794a35783b625183f89428ffb20bbfd6792

[2015-01-30 00:46] #25 closed

[2015-02-01 19:46] jpeeler opened #27 "Uncaught Error: ENOENT, no such file or directory '/home/jpeeler/.atom/packages/term2'"
[Enter steps to reproduce below:]

1. Removed package that was incompatible with current version of Atom (term2)
2. Clicked refresh on deprecation cop window.

**Atom Version**: 0.176.0
**System**: linux 3.18.3-201.fc21.x86_64
**Thrown From**: [deprecation-cop](https://github.com/atom/deprecation-cop) package, v0.33.0

### Stack Trace

Uncaught Error: ENOENT, no such file or directory '/home/jpeel

[2015-02-01 19:54] 50Wliu commented on #27
I believe this will be fixed in the next Atom version, 0.177.0.

[2015-02-01 19:54] #27 closed

[2015-02-03 00:47] kevinsawicki commented on #20
Is this still happening with the latest version of your package or only previous versions? If so, which version did the deprecation not show up for?

[2015-02-03 00:48] kevinsawicki commented on #3
I'm going to close this out, I don't think this is happening any longer with the latest version of this package.

[2015-02-03 00:48] #3 closed

[2015-02-03 01:04] #5 closed

[2015-02-03 01:06] kevinsawicki commented on #24
Having some trouble reproducing this, can you reproduce it when running `atom --safe`?

[2015-02-03 01:06] kevinsawicki commented on #24
Sorry, `atom --safe` won't exhibit it since packages won't load and the view will be empty.

Just to confirm, you are using the built-in themes? And do you have any custom styles in your `~/.atom/styles.less` file?

[2015-02-03 01:22] #23 closed

[2015-02-03 01:57] #22 closed

[2015-02-03 06:07] sos12 commented on #24
I don't remember putting any changes in styles.less, but as a precaution I
copy/pasted the file from the repository just so that could be ruled out.
Not exactly sure where the edits I had came from, but once the defaults
were in place the issue was resolved. UE somewhere along the line during my
customizations, I'm sure.

Apologies, and thanks for your great work on this great tool!

Skyler

On Mo

[2015-02-03 12:07] lee-dohm commented on #24
Sounds like this is resolved. I'm going to close it. Let us know if it reproduces :grinning:

[2015-02-03 12:07] #24 closed

[2015-02-04 15:59] joefitzgerald commented on #21
Oh man would I love for some searching to happen prior to redirecting the user. I've had people create about 20 dupes over the past day because of the `atom.services` deprecation. Most assume some checking already occurs, and then feel bad for creating the dupes once they are made aware.

Not absolutely essential, but certainly a nice to have.

[2015-02-04 20:22] framerate opened #29 "Possible False Positive?"
https://github.com/cliffrowley/atom-circle-ci/pull/15#issuecomment-72931012

It's telling me to use "getOriginURL()" but I am using it... perhaps the description isn't clear?

[2015-02-04 20:26] framerate commented on #29
nevermind, it's a case sensitive mishap!

[2015-02-04 20:26] #29 closed

[2015-02-06 15:17] mik01aj commented on #21
+1. I just created another dupe and deleted it after a while.

[2015-02-06 15:26] mik01aj opened #30 "Wrong suggested title for opening a new issue"
Deprecation warning looks like this:

![screenshot 2015-02-06 16 22 15](https://cloud.githubusercontent.com/assets/3027415/6081782/838956b4-ae1c-11e4-8986-1f49594f38f5.png)

But when I click on the link, I see:

![screenshot 2015-02-06 16 24 12](https://cloud.githubusercontent.com/assets/3027415/6081807/af89069c-ae1c-11e4-9f79-963e2dcacf8e.png)

[2015-02-06 16:25] lee-dohm commented on #21
I've thought about a dupe finder service that basically uses Bayesian pattern matching to determine if a given bunch of text is a dupe of a currently open or closed bug. It would be best at finding the ones that people report often, of course, but I think that would be the biggest bang for the buck anyway.

Yet another one of those projects that I need to find time to get around to one day.

[2015-02-06 16:48] matiasgarciaisaia commented on #21
Just finding exact-matching title's would be a great improvement - since Atom is on the run to 1.0, lots of issues are being created from that button. A better, long term solution would be great, but I think that a quick fix would help a lot now.

[2015-02-06 18:05] benogle commented on #21
I like this idea. Even a module that does something naive like notifications would be nice. It would be good to have something reusable. I think it should just be an npm module, though, rather than some package that needs to be installed (unless it's in the core dist?).

[2015-02-06 22:35] lee-dohm commented on #21
@benogle I agree that an npm module would probably be best. I was thinking of a web service for the full-on Bayesian thing so that each Atom instance wouldn't have to calculate the word frequencies themselves. But if we start with something naïve then putting it client side wouldn't be a big deal. (Except for perhaps people with slow network connections?)

[2015-02-09 10:28] mik01aj commented on #21
This awesome intelligent bayesian search approach sure would be great, but I'm totally against waiting for it. Let's implement exact string matching now. I believe that exact matching would be right in 90% of the cases, because usually people leave whatever issue title was suggested.

[2015-02-19 17:30] kevinsawicki commented on #20
Just wanted to check back in and see if this was still an issue.

[2015-02-19 19:27] travs commented on #20
Hi @kevinsawicki

This is no longer an issue since I fixed the deprecated calls that someone else reported, but I have not tested deprecation cop with the new version of Atom and the old version of my package (v1.2.12 when this issue was reported).

[2015-04-02 17:18] lee-dohm opened #32 "Add deprecation notice for non-default packages that have no keywords?"
I don't know if this is really the right spot for this because this is more of recommending a best-practice than a deprecation. But it would allow users to urge package developers to add keywords to their packages through the Submit Issue framework.

[2015-04-03 09:05] Nozue opened #33 "Uncaught TypeError: Cannot read property 'length' of undefined"
[Enter steps to reproduce below:]

1. ...
2. ...

**Atom Version**: 0.189.0
**System**: Mac OS X 10.10.2
**Thrown From**: [deprecation-cop](https://github.com/atom/deprecation-cop) package, v0.39.0

### Stack Trace

Uncaught TypeError: Cannot read property 'length' of undefined

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2015-04-07 05:44] mnpenner commented on #22
This happens whenever I right-click the "Deprecation Cop" tab and try to "Split Right".

[2015-04-07 21:26] kevinsawicki opened #34 "Text is huge in 0.190"
Using one dark themes.

![screen shot 2015-04-07 at 2 26 04 pm](https://cloud.githubusercontent.com/assets/671378/7033857/18d1c6d6-dd32-11e4-89db-e2ae9a49f843.png)

[2015-04-08 14:13] simurai commented on #34
Fixed in the One themes.

[2015-04-08 14:13] #34 closed

[2015-04-10 16:15] postcasio opened #35 "Text is huge with one-dark-ui"
Not 100% sure if this belongs here or on one-dark-ui. The `deprecation-message` has `font-size: 3em` which I think is causing problems with the recent font size changes.

cc @simurai

![screen shot 2015-04-10 at 17 11 47](https://cloud.githubusercontent.com/assets/1759837/7091854/120ae3c6-dfa5-11e4-9bea-6900b4705b02.png)

[2015-04-10 17:07] thomasjo commented on #35
Duplicate of https://github.com/atom/deprecation-cop/issues/34.

[2015-04-10 17:07] #35 closed

[2015-04-10 17:09] postcasio commented on #35
Whoops, my bad

—
Sent from Mailbox

On Fri, Apr 10, 2015 at 6:07 PM, Thomas Johansen <notifications@github.com>
wrote:

[2015-04-17 11:45] izuzak opened #36 "Incorrect attribution of deprecated calls to atom core or a core package"
I noticed this while I was updating one of my packages to 1.0 APIs:

![screen shot 2015-04-15 at 16 29 57](https://cloud.githubusercontent.com/assets/38924/7201317/2523fee6-e506-11e4-9a77-f8969c6dd074.png)

Deprecation cop is saying that Atom is the problem here, but it's not -- it's a package.

A similar issue was reported here: https://github.com/atom/status-bar/issues/69

In that issue, @kevins

[2015-04-21 00:16] kevinsawicki commented on #36
I think this is the right first step, 5 sounds good, do you want to open a PR for this?

[2015-04-21 00:43] 50Wliu opened #37 "Not showing correct number of deprecations on the status bar"
![image](https://cloud.githubusercontent.com/assets/2766036/7243636/a4b268a2-e79d-11e4-8976-2e3650594e3c.png)
but
![image](https://cloud.githubusercontent.com/assets/2766036/7243639/af0a017a-e79d-11e4-9f97-e75fd08e02d1.png)
0.193.0-7a9b167 on Ubuntu 14.10 with the following packages installed:
[code]

[2015-04-21 07:30] izuzak commented on #36
Sure :+1: Here it is: https://github.com/atom/grim/pull/5.

I just played with this locally and it definitely improves things.

Example before (attributed to atom core):

![screen shot 2015-04-21 at 09 05 22](https://cloud.githubusercontent.com/assets/38924/7247228/8d01c94a-e807-11e4-96c9-b8b10f5dca56.png)

Example after (attributed to pdf-view):

![screen shot 2015-04-21 at 09 05 33](https://clou

[2015-04-21 07:38] izuzak commented on #37
I was able to reproduce this with the git-control package. Here's what I'm seeing (15 vs 7):

![screen shot 2015-04-21 at 09 33 00](https://cloud.githubusercontent.com/assets/38924/7247407/6e87302a-e809-11e4-8cce-a6cf396144e7.png)

Steps to reproduce:
1. install git-control package
2. run the Git Control: Toggle command from command palette

[2015-04-21 16:14] maxbrunsfeld commented on #36
I think we should remove those two `Grim` calls, and replace them with preemptive checks in [`Workspace::addOpener`](https://github.com/atom/atom/blob/4fb59af3cc5205de3f3a20416d83d102dcfe1cb1/src/workspace.coffee#L487), like we did for the deprecated `::getUri` method. That way, the stack trace will contain the line from the package where the opener callback is registered.

[2015-04-21 23:56] kevinsawicki commented on #36
:+1:

[2015-04-23 15:13] izuzak commented on #36
It seems that another common source of incorrect attributions is [this deprecation call](https://github.com/atom/atom/blob/3e993ca9e6b9a12bc175231ab1a05cf787fdfb9e/src/package.coffee#L469-L476) after checking if the package switched to the new activationCommands from activationEvents.

For example, here's what I see after installing [redacted](https://github.com/ymendel/atom-redacted):

![screen s

[2015-04-23 16:35] maxbrunsfeld commented on #36
I think we could solve this similarly to what we did [here](https://github.com/atom/atom/blob/6e074b3695a532585fff6f6c97ae4ec3b535f4a5/src/workspace.coffee#L488) - pass a `packageName` parameter to `Grim::deprecate`.

[2015-04-23 16:43] maxbrunsfeld commented on #36
Here's another one of these issues: https://github.com/atom/settings-view/issues/476

Looks like to solve that, we need to do the same thing for [this call](https://github.com/atom/atom/blob/3e993ca9e6b9a12bc175231ab1a05cf787fdfb9e/src/package.coffee#L164) (in the same file).

[2015-04-23 16:44] izuzak commented on #36
:metal: Thanks, @maxbrunsfeld -- I'll try that and open a pull request.

[2015-04-26 17:33] chemoish commented on #37
I am having the same issues, but it looks like its not the case for everyone (As people are sending me the deprecation messages).

https://github.com/chemoish/atom-pane-layout/issues/10

Windows 7
Atom 0.194.0

TLDR — The warning count updates for me upon package activation (hotkey), but no messages show up in the window.

[2015-04-26 18:06] candrsn opened #38 "Uncaught TypeError: undefined is not a function"
[Enter steps to reproduce below:]

1. ...
2. ...

**Atom Version**: 0.175.0
**System**: linux 3.19.4-200.fc21.x86_64
**Thrown From**: [deprecation-cop](https://github.com/atom/deprecation-cop) package, v0.32.0

### Stack Trace

Uncaught TypeError: undefined is not a function

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

/cc @atom/core

[2015-04-27 17:22] kevinsawicki commented on #38
This is a duplicate of https://github.com/atom/deprecation-cop/issues/22

If you upgrade to the latest version of Atom you will no longer see this issue.

[2015-04-27 17:22] #38 closed

[2015-04-28 06:42] izuzak commented on #20
@travs I just tried installing v1.2.12 of your package (the version which had the deprecated calls) on the latest Atom version (0.195.0-3c2acdc), and the workspaceView calls are being correctly reported in Deprecation Cop.

![screen shot 2015-04-27 at 23 32 32](https://cloud.githubusercontent.com/assets/38924/7358470/be755e82-ed35-11e4-94fd-f5f2454cbb47.png)

I'm not sure why those calls weren't r

[2015-04-28 06:42] #20 closed

[2015-04-28 11:39] izuzak commented on #37
Okay, so this happens because the status bar icon [counts deprecations as they are received from Grim](https://github.com/atom/deprecation-cop/blob/daae43f77dcd124760d1566ad1476e979a878d5f/lib/deprecation-cop-status-bar-view.coffee#L43). However, a single Grim deprecation might actually be a group of multiple deprecations with different call stacks. The Deprecation Cop view [un-groups those](https

[2015-04-28 11:48] izuzak commented on #36
Closing this since I think we've handled all problems that have been reported. If anything new pops up -- please feel free to reopen and add more details.

[2015-04-28 11:48] #36 closed

[2015-04-28 16:56] #37 closed

[2015-04-28 20:47] #33 closed

[2015-04-29 18:04] bcrahul opened #40 "Uncaught TypeError: undefined is not a function"
[Enter steps to reproduce below:]

1. ...
2. ...

**Atom Version**: 0.175.0
**System**: linux 3.13.0-51-generic
**Thrown From**: [deprecation-cop](https://github.com/atom/deprecation-cop) package, v0.32.0

### Stack Trace

Uncaught TypeError: undefined is not a function

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

/cc @atom/core

[2015-04-29 18:30] izuzak commented on #40
This is a duplicate of https://github.com/atom/deprecation-cop/issues/22, I believe.

If you upgrade to the latest version of Atom (0.194.0) you will no longer see this issue.

[2015-04-29 18:30] #40 closed

[2015-04-29 18:48] bcrahul commented on #40
Thank you.

[2015-04-30 17:07] izuzak commented on #32
@lee-dohm I was thinking about this yesterday and while I like the idea of nudging users to add keywords, I'm not sure that using the deprecation cop for this is the best approach. I can see how package authors might be irritated by this (especially authors of popular packages with no keywords). Also, would be great if packages had a description as well, and not just keywords -- I definitely notic

[2015-05-01 03:03] lee-dohm commented on #32
Yep, I totally see where you're coming from ...

I like both of your suggestions. One thing that has also been helpful for me to remember to work on deprecations is the deprecation listing in the GUI Spec Runner. I feel better that it catches me when I'm already working on the package ... rather than when I thought I was done or when I'm working on something else. Perhaps these nudges could be int

[2015-05-09 17:18] izuzak commented on #32
@lee-dohm I created https://github.com/atom/apm/issues/363 and https://github.com/atom/apm/issues/362 for those two ideas I mentioned above. :point_up:

Perhaps :smile: Recommendation: open a new issue and ask for more feedback (and maybe list some pros and cons?), and if the feedback looks positive -- consider opening a PR to add that ability. I think that's the best way to get answers. I don't h

[2015-05-09 17:18] #32 closed

[2015-05-10 01:42] danielmelogpi opened #42 "Uncaught TypeError: undefined is not a function"
[Enter steps to reproduce below:]

1. ...
2. ...

**Atom Version**: 0.174.0
**System**: linux 3.19.0-16-generic
**Thrown From**: [deprecation-cop](https://github.com/atom/deprecation-cop) package, v0.32.0

### Stack Trace

Uncaught TypeError: undefined is not a function

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

/cc @atom/core

[2015-05-10 01:46] mnquintana commented on #42
You're running an extremely old version of Atom - please update to the latest version (0.198.0).

[2015-05-10 01:46] #42 closed

[2015-05-11 18:16] #18 closed

[2015-05-11 20:28] izuzak opened #43 "Deprecation cop incorrectly attributes calls made from packages using atom-space-pen-views"
I have pdf-view@0.17.0 and color-picker@1.7.0 installed. Here's what I see when I start Atom and open a PDF:

![screen shot 2015-05-11 at 22 10 51](https://cloud.githubusercontent.com/assets/38924/7574167/7c4d9fbe-f82b-11e4-9b6b-c9b2e268282d.png)

Notice that the deprecation is attributed to color-picker, but no calls are actually made from that package. It's pdf-view making the calls to atom-spac

[2015-05-11 20:43] izuzak commented on #43
And sometimes it attributes the call to atom core because core's atom-space-pen-view dependency is used (?):

![screen shot 2015-05-11 at 22 41 49](https://cloud.githubusercontent.com/assets/38924/7574645/0e6e1060-f82f-11e4-8a54-c592859cec4f.png)

[2015-05-11 20:59] kevinsawicki commented on #43
Yeah, this needs to be tweaked, things under `node_modules/` should be ignored and it should keep looking up the stack.

[2015-05-13 22:29] #43 closed

[2015-05-19 01:57] #21 closed

[2015-05-19 03:57] deepj opened #47 "Deprecation cop does not show what selectors are deprecated in my local style.less file"
I guess this is a bug not showing the deprecated selectors. Because in case of `atom-lint` the deprecated selectors are shown (see the screenshot above)

![screen shot 2015-05-19 at 05 53 36](https://cloud.githubusercontent.com/assets/33736/7695169/95f85e48-fdeb-11e4-8d20-0360bdf2610b.png)

Versions: Atom.0.199.0, deprecation-cop 0.48.0

My `style.less` file:

[code]

[2015-05-19 15:45] #47 closed

[2015-05-20 07:42] izuzak opened #49 "Wrong indentation in deprecation cop"
_From @goffreder on May 20, 2015 7:34_

In the list of the "Deprecated selectors", if you expand one row, the next one becomes indented as it's part of the row above. See screenshot.

![schermata 2015-05-20 alle 09 33 47](https://cloud.githubusercontent.com/assets/156642/7720996/722c5896-fed3-11e4-9932-13d86aa7e9af.png)

_Copied from original issue: atom/atom#6863_

[2015-05-20 07:45] izuzak commented on #49
@goffreder I'm having trouble reproducing this:

![screen shot 2015-05-20 at 09 42 21](https://cloud.githubusercontent.com/assets/38924/7721121/ae46e76e-fed4-11e4-80c5-a9049273a58e.png)

Which version of Atom are you using exactly and which themes? And if you run Atom with `atom --safe .`, and then open Deprecation Cop -- are the deprecations for your keymap.cson and styles.less file still incorre

[2015-05-20 07:56] goffreder commented on #49
I'm running Atom 0.200.0 on OSX 10.10.3. I'm using the Seti theme, version 0.7.1.

I ran atom in safe mode but I get the same issue...

![schermata 2015-05-20 alle 09 54 03](https://cloud.githubusercontent.com/assets/156642/7721257/691235a2-fed6-11e4-82d7-c8dfb465e841.png)

[2015-05-20 08:12] izuzak commented on #49
@goffreder Thanks for confirming -- I can reproduce this with the Atom Dark theme as well, but can't reproduce it with the default One Dark theme.

I'm gonna call @simurai for backup here :phone: since this might require some fine tuning of pixels :art:. I think the warning icons are causing problems here in some themes -- their position and height makes them cross to the other line vertically so

[2015-05-20 09:08] simurai commented on #49
I can't reproduce it and oddly, when I add some old classes to my `styles.less`. I can see the `your local styles.less file`, but it's empty.

![screen shot 2015-05-20 at 6 06 11 pm](https://cloud.githubusercontent.com/assets/378023/7722432/11ef0d5a-ff1b-11e4-90fa-4adba86f3cde.png)

[2015-05-20 09:12] izuzak commented on #49
@simurai Are you perhaps not using the latest version of Atom? That problem with the empty list was a bug which was fixed recently: https://github.com/atom/deprecation-cop/pull/48

[2015-05-20 12:40] #49 closed

[2015-05-20 12:45] simurai commented on #49
@izuzak Yep, was on a different branch. Should be fixed in the next release.

[2015-05-20 12:46] izuzak commented on #49
:heart_decoration: @simurai

[2015-06-08 02:02] impinball opened #52 "Not catching a deprecated API call in 0.52.0"
[`atom-html-preview` fails to load](https://github.com/webBoxio/atom-html-preview/issues/51), but when I ran Atom with `--include-deprecated-apis`, Deprecation Cop showed absolutely nothing. I can't tell exactly what API this fails to find, but it's near impossible to fix the broken package without knowing what broke.

Without flag:
![without flag](https://cloud.githubusercontent.com/assets/448384

[2015-06-08 11:38] izuzak commented on #52
@impinball Thanks for the report -- I don't see anything wrong with that package either.

@benogle @kevinsawicki can you take a look? :pray: I _think_ this might be a false positive in [the list of deprecated packages](https://github.com/atom/atom/blob/master/build/deprecated-packages.json). :clipboard:

[2015-06-09 16:58] benogle commented on #52
The deprecation may not be hit on startup, but this is what it's reporting:

https://gist.github.com/benogle/6d09e295c84b717ef9b4

[2015-06-09 16:58] #52 closed

[2015-06-09 17:10] izuzak commented on #52
Thanks, @benogle. I think I see [the deprecation](https://github.com/webBoxio/atom-html-preview/blob/a8a7e7dc4bbc33584371daca4cadeb6133a4798c/lib/atom-html-preview-view.coffee#L57) from that repo now. I tried triggering that code path but wasn't able to (possibly another problem in the package), so that explains why I didn't notice the problem when I tried using the package.

I hope that helps, @i

[2015-06-11 02:44] Wu-Li opened #53 "jQuery Trigger - Event names with ’:’ treated as Atom Commands"
After the 0.207 update, the Deprecation Cop picks up any event triggers with colons (:) in the event name and provides a message that states in 1.0, Atom Commands can no longer be called by jQuery::trigger. This happens for events that are not Atom Commands, and the frequent calls to the Deprecation Cop can be quite a resource hog - my load times were about 3x as long before I renamed the events t

[2015-07-13 12:46] emcek opened #60 "'Check for Updates' button misaligned visually"
![image](https://cloud.githubusercontent.com/assets/475312/8648243/57095aee-295f-11e5-86dd-bbd8f3cd7324.png)

Button was added in: https://github.com/atom/deprecation-cop/commit/01459698b21f1c6da8536de74ebf3dc9c155e499

[2015-07-13 15:30] lee-dohm commented on #60
Yes, this was an intentional change. This is so that if you discover a package you're running has active deprecations, you can check for updates to see if they are resolved.

[2015-07-13 15:50] emcek commented on #60
I don't mind button itself, but its position is a bit odd.

[2015-07-13 15:53] lee-dohm commented on #60
Ah ok. Thanks for clarifying.

@simurai, can you take a look?

[2015-07-13 16:16] izuzak commented on #60
There's already a PR to fix this: https://github.com/atom/deprecation-cop/pull/59

[2015-07-14 01:32] #60 closed

[2015-07-17 18:31] eboracus opened #61 "Change Report Issue button to reflect current status of the deprecation"
It would be nice if the report issue button behaved similarly to the Uncaught Error notification's report issue button. So if the error/issue has already been reported the button changes visually to inform the user, and they know it's not necessary to go and report it. The button could still link through to the logged issue's page as it does now, but just give the information to the user without t

[2015-07-18 15:33] 50Wliu commented on #61
This should have been fixed in #46.

[2015-07-20 00:31] Stanzilla opened #62 "Update report after package update"
When you update a package and that update fixed the deprecations, deprecation cop still thinks it has deprecations until you restart Atom. Maybe it can rescan for them after each package update?

[2015-07-20 14:38] izuzak commented on #61
@eboracus Can you share the version of Atom you're using and the exact steps which reproduce the problem shown in the screenshot? (Assume I have only Atom installed, no packages.)

[2015-07-20 23:08] eboracus commented on #61
This is with v1.0.2 and I can't reproduce the above in strict safe mode as I can only display the deprecation in question with the offending packages enabled. `linter-clang` in this case (which I guess needs `linter` to actually activate itself), with only these two packages installed I get the above screenshot. So at least from clean Atom the steps should be: install/load these two packages -> lo

[2015-07-22 11:32] izuzak commented on #61
Ahhh, thanks for clarifying. I totally misunderstood your report -- I thought you were saying that existing issues were not detected correctly.

Yeah, the "Report issue" button checks for existing issues when clicked, not before that. I guess it would be nice if the behavior matched the Notifications package. Gonna add the "enhancement" label to this :+1:

[2015-07-28 12:03] mnquintana opened #63 "Only show status-bar tile in dev mode?"
Now that the deprecopalypse has come and gone, do we still need to display the deprecation warning in the status bar in regular mode windows? I've been thinking lately that it might help reduce noise, since the deprecation warnings are generally only of use to package developers, and especially now that [other packages are beginning to use the deprecation API for their own purposes.](https://githu

[2015-07-28 13:30] 50Wliu commented on #63
Refs atom/atom#6945.

[2015-07-28 13:32] thomasjo commented on #63
My initial reaction is agreement. I think it makes perfect sense to make deprecation-cop slightly less obtrusive in "regular mode".

[2015-07-29 23:40] #63 closed

[2015-08-12 18:43] steelbrain commented on #63
I guess I am a little too late here but I am :-1:  on this, 'cause this allowed us to update our public/linter API with ease, and we could expect people to upgrade to it when we push a release, sadly, people don't see it anymore, which means that we'll have to re-invent the deprecation cop wheel. 'cause it's critically important to let people know that we are removing something.
Besides, if someon

[2016-02-02 19:19] jerone opened #66 "Uncaught TypeError: Error processing argument -1."
[Enter steps to reproduce below:]

1. Clicked the "Report Issue" button on a deprecation call item.

**Atom Version**: 1.5.0-beta2
**System**: Microsoft Windows 7 Home Premium
**Thrown From**: [deprecation-cop](https://github.com/atom/deprecation-cop) package, v0.54.0

### Stack Trace

Uncaught TypeError: Error processing argument -1.

[code]

### Commands

[code]

### Config

[code]

### Installe

[2016-02-20 15:06] jerone commented on #66
This issue still happens when I press the "Report Issue" button on a deprecation in the deprecation's cop pane.

The following message appeared in the console:
[code]

When opening above [url](https://api.github.com/search/issues?q=Object.TextEditor%20is%20deprecated.%20repo:git+mark-hahn/markdown-scroll-sync&sort=created) it will print the following message:
[code]

Hope that helps a little bit.

[2016-02-25 20:09] oychang commented on #66
I had the same issue as @jerone. The issue seems to be from the regular expression on [deprecation-cop-view.coffee:84](https://github.com/atom/deprecation-cop/blob/v0.54.0/lib/deprecation-cop-view.coffee#L84):

[code]

works on some packages, but not for others with a `^git+` prefix...

[code]

which results in malformed URLs that are visible in the JSON response above.

[2016-02-26 09:27] jerone commented on #66
I can confirm this. When removing `git+` from the url I get a valid response back from the server:

[code]

[2016-03-01 01:13] #66 closed

[2016-03-01 01:14] nathansobo commented on #66
Thanks for the report. This is now fixed on master via a fix to package repository URL normalization in the package manager.

[2016-06-23 10:33] sbilaldogan opened #68 "Uncaught TypeError: Error processing argument at index 0, conversion failure from null"
[Enter steps to reproduce below:]
1. ...
2. ...

**Atom Version**: 1.8.0
**System**: Microsoft Windows 10 Pro
**Thrown From**: [deprecation-cop](https://github.com/atom/deprecation-cop) package, v0.54.1
### Stack Trace

Uncaught TypeError: Error processing argument at index 0, conversion failure from null

[code]
### Commands

[code]
### Config

[code]
### Installed Packages

[code]

[2016-11-10 09:31] Stanzilla commented on #68
Happened to me today

[2016-11-10 19:11] Ben3eeE commented on #68
Get directed here when clicking `open issue` in the Deprecation cop on `atom-material-syntax` a few times, it also errors in the console.
![depcop](https://cloud.githubusercontent.com/assets/1058982/20190378/77e0b13a-a781-11e6-8af9-38da4d404658.gif)

[2016-11-27 19:35] rm-code opened #71 "Deprecation notice on Atom 1.13.0-beta5"
I might need some help with updating my [ui-theme](https://github.com/rm-code/base16-ocean-dark-ui).

Deprecation cop gives me a deprecation notice and points to index.less:
![screenshot 2016-11-27 20 33 55](https://cloud.githubusercontent.com/assets/11627131/20651198/e7c3fa4a-b4e0-11e6-8b96-8951f125d8c2.png)

I'm fairly sure I got rid of all the :host and ::shadow pseudo-selectors. Am I missing s

[2016-11-27 19:39] Ben3eeE commented on #71
Thanks for reaching out :grinning: Because we treat our issues list as [the Atom team's backlog](https://en.wikipedia.org/wiki/Scrum_(software_development)#Product_backlog), we close issues that are questions since [they don't represent a task needing to be completed](http://blog.atom.io/2016/04/19/managing-the-deluge-of-atom-issues.html). For most questions about Atom there are a lot of options,

[2016-11-27 19:39] #71 closed

[2017-01-11 09:53] Stanzilla commented on #68
this is still happening with 1.14beta0

[2017-01-11 09:53] Stanzilla commented on #62
would still love to see this

[2017-01-11 10:17] Spidersouris commented on #68
yup, just happened to me

[2017-01-11 14:25] karneaud commented on #68
+1

[2017-01-13 03:25] NishL commented on #68
Happening on v1.13.0, Windows 10.

[2017-01-13 06:37] TomerHeber commented on #68
[Enter steps to reproduce below:]

1. ...
2. ...

**Atom Version**: 1.13.0
**Electron Version**: 1.3.13
**System**: Microsoft Windows 10 Pro
**Thrown From**: [deprecation-cop](https://github.com/atom/deprecation-cop) package, v0.55.1

### Stack Trace

Uncaught TypeError: Error processing argument at index 0, conversion failure from null

[code]

### Commands

[code]

### Config

[code]

### Instal

[2017-01-13 08:43] georgepostoronca opened #75 "Uncaught TypeError: Error processing argument at index 0, conversion failure from null"
### Prerequisites

* [ ] Put an X between the brackets on this line if you have done all of the following:
    * Reproduced the problem in Safe Mode: http://flight-manual.atom.io/hacking-atom/sections/debugging/#using-safe-mode
    * Followed all applicable steps in the debugging guide: http://flight-manual.atom.io/hacking-atom/sections/debugging/
    * Checked the FAQs on the message board for co

[2017-01-13 11:29] gostrafx commented on #75
angularjs\styles\angularjs.less
Starting from Atom v1.13.0, the contents of atom-text-editor elements are no longer encapsulated within a shadow DOM boundary. This means you should stop using :host and ::shadow pseudo-selectors, and prepend all your syntax selectors with syntax--. To prevent breakage with existing style sheets, Atom will automatically upgrade the following selectors:

atom-text-ed

[2017-01-13 12:53] Ben3eeE commented on #75
Thanks for taking the time to contribute!

We noticed that this is a duplicate of https://github.com/atom/deprecation-cop/issues/68. You may want to subscribe there for updates.

Because we treat our issues list as [the Atom team's backlog](https://en.wikipedia.org/wiki/Scrum_(software_development)#Product_backlog), we close duplicates to focus our work and not have to touch the same chunk of code

[2017-01-13 12:53] #75 closed

[2017-01-13 12:53] Ben3eeE commented on #68
/cc: @as-cii

[2017-01-16 09:01] cxt666 commented on #68
**Atom Version**: 1.13.0
**Electron Version**: 1.3.13
**System**: P02034635
**Thrown From**: [deprecation-cop](https://github.com/atom/deprecation-cop) package, v0.55.1

### Stack Trace

Uncaught TypeError: Error processing argument at index 0, conversion failure from null

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2017-01-18 07:46] Tikam02 commented on #75
[Enter steps to reproduce below:]

1. ...
2. ...

**Atom Version**: 1.13.0
**Electron Version**: 1.3.13
**System**: Microsoft Windows 10 Home Single Language
**Thrown From**: [deprecation-cop](https://github.com/atom/deprecation-cop) package, v0.55.1

### Stack Trace

Uncaught TypeError: Error processing argument at index 0, conversion failure from null

[code]

### Commands

[code]

### Config

[

[2017-01-18 07:47] Tikam02 opened #76 "Uncaught TypeError: Error processing argument at index 0, conversion failure from null"
### Prerequisites

* [ ] Put an X between the brackets on this line if you have done all of the following:
    * Reproduced the problem in Safe Mode: http://flight-manual.atom.io/hacking-atom/sections/debugging/#using-safe-mode
    * Followed all applicable steps in the debugging guide: http://flight-manual.atom.io/hacking-atom/sections/debugging/
    * Checked the FAQs on the message board for co

[2017-01-18 08:07] Ben3eeE commented on #76
Thanks for taking the time to contribute!

We noticed that this is a duplicate of https://github.com/atom/deprecation-cop/issues/68. You may want to subscribe there for updates.

Because we treat our issues list as [the Atom team's backlog](https://en.wikipedia.org/wiki/Scrum_(software_development)#Product_backlog), we close duplicates to focus our work and not have to touch the same chunk of code

[2017-01-18 08:07] #76 closed

[2017-01-20 15:58] as-cii commented on #68
Thanks for the reports and apologies for the regression. I am unable to reproduce on macOS with the reproduction steps provided by @Ben3eeE so I suspect this might be related to some nuance in how deprecation reporting is handled on Windows.

@damieng: thoughts? 💭

[2017-01-20 23:55] lee-dohm opened #77 "Make deprecations dismissable"
### Prerequisites

* [x] Put an X between the brackets on this line if you have done all of the following:
    * Reproduced the problem in Safe Mode: http://flight-manual.atom.io/hacking-atom/sections/debugging/#using-safe-mode
    * Followed all applicable steps in the debugging guide: http://flight-manual.atom.io/hacking-atom/sections/debugging/
    * Checked the FAQs on the message board for co

[2017-01-21 20:49] madakk commented on #68
Looks like the fault is with shortenURL, which only takes place on Windows platforms. The shorten URL call in this case returns a 400 response code with the text "Error: Please enter a valid URL to shorten". The shortenURL call then returns null, which I guess is the cause of this error.

[2017-01-21 20:58] damieng commented on #68
Additionally shortenURL is using git.io - we typically use is.gd these days such as in the notification package.  I'll take a look.

[2017-01-23 05:35] #68 closed

[2017-01-23 05:45] Down10 commented on #77
Either this, or else perhaps a setting to hide the notification that appears in the bottom bar.

[2017-01-23 07:07] V1rtus commented on #76
Starting from Atom v1.13.0, the contents of atom-text-editor elements are no longer encapsulated within a shadow DOM boundary. This means you should stop using :host and ::shadow pseudo-selectors, and prepend all your syntax selectors with syntax--. To prevent breakage with existing style sheets, Atom will automatically upgrade the following selectors:

.atom-text-editor, :host => .atom-text-edito

[2017-01-23 22:55] lee-dohm commented on #77
I reviewed this with the development team and they agree that it would be a nice option to have. On the other hand, this is not something that we will get the chance to work on any time soon. Because we treat the open issues list as our backlog of what we will be working on, I'm going to close this.

We would be open to accepting a well-crafted pull request that implements such a feature, so I'll

[2017-01-23 22:55] #77 closed

[2017-01-26 00:07] batjko commented on #68
I'm not sure this should have been closed.
#78 Is not addressing the OP's issue and the package still uses deprecated styles, according to Atom 1.13.0.

[2017-01-26 00:12] madakk commented on #68
This issue is about an error thrown when trying to open an issue from the deprecation cop view, it's not about any package using deprecated styles.

[2017-01-26 07:09] batjko commented on #68
@madakk I noticed my mistake and removed my comment immediately. Apparently not quickly enough, though.

[2017-01-30 19:55] lewismoten commented on #68
I'm still getting this error reported in Atom 1.13.1
[code]

[2017-01-30 19:56] lewismoten commented on #76
Although this issue, and the issue it duplicates are closed, this problem still exists as of 1.13.1
[code]

[2017-01-30 23:54] damieng commented on #68
Yes, the fix is part of 1.14.

[2017-02-25 18:07] adriansmuresan opened #79 "Uncaught Error: ENOENT: no such file or directory, lstat '~/Library/Caches/com.github.atom.ShipIt..."
[Enter steps to reproduce:]

1. ...
2. ...

**Atom**: 1.14.3 x64
**Electron**: 1.3.13
**OS**: Mac OS X 10.12.3
**Thrown From**: [deprecation-cop](https://github.com/atom/deprecation-cop) package 0.56.2

### Stack Trace

Uncaught Error: ENOENT: no such file or directory, lstat '/Users/adrianmuresan/Library/Caches/com.github.atom.ShipIt/update.idRBj67'

[code]

### Commands

[code]

### Non-Core Pac

[2017-02-25 18:19] 50Wliu commented on #79
Thanks for taking the time to contribute!

We noticed that this is a duplicate of atom/atom#9559. You may want to subscribe there for updates.

Because we treat our issues list as [the Atom team's backlog](https://en.wikipedia.org/wiki/Scrum_(software_development)#Product_backlog), we close duplicates to focus our work and not have to touch the same chunk of code for the same reason multiple times

[2017-02-25 18:19] #79 closed

[2017-06-12 17:28] dsandstrom opened #82 "Remove `!important` from styles"
Makes it more of a pain to override the background color.

https://github.com/atom/deprecation-cop/blob/master/styles/deprecation-cop.less#L16

[2017-09-11 07:14] ShadowLNC commented on #18
This seems to still be an issue - `.editor` is not being flagged in my keymap.cson.

[2018-10-02 17:56] daviwil commented on #82
This issue was moved to atom/atom#18174

[2018-10-02 17:56] #82 closed

[2018-10-02 17:56] daviwil commented on #62
This issue was moved to atom/atom#18175

[2018-10-02 17:56] #62 closed

[2018-10-02 17:56] daviwil commented on #61
This issue was moved to atom/atom#18176

[2018-10-02 17:56] daviwil commented on #53
This issue was moved to atom/atom#18177

[2018-10-02 17:56] #53 closed

[2018-10-02 17:56] daviwil commented on #30
This issue was moved to atom/atom#18178

[2018-10-02 17:56] #30 closed